<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/learn">About</a>
        <a href="/strength_checker">Check Password Strength</a>
        <a href="/pass_generator">Generate a Password</a>
        <a href="/entropy">Entropy Check</a>
    </div>

    <h2>Entropy</h2>

    <title>Password Strength Checker</title>

    <label for="inputtext">Enter your password:</label>

    <form method="POST" action="entropy">
        <input type="text" name="entropyPass" placeholder="Enter password" class="entropyPass"></input>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% for x in output2 %}

    <p>{{ x }}</p>

    {% endfor %}

</html>