<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/learn">About</a>
        <a href="/strength_checker">Check Password Strength</a>
        <a href="/entropy">Entropy Check</a>
        <a href="/pass_generator">Generate a Password</a>
    </div>

    <h2>Welcome!</h2>

    <title>Password Strength Checker</title>


    <h3>If you would learn about password strength and our features, Click below!</h3>
    <a href="/learn" class="button">Click here!</a>

    <h3>If you would like to check the strength of your password, Click below!</h3>
    <a href="/strength_checker" class="button">Click here!</a>


    <h3>If you would like to calculate the entropy of your password, Click below!</h3>
    <a href="/entropy" class="button">Click here!</a>


    <h3>If you would like to generate a custom password, Click below!</h3>
    <a href="/pass_generator" class="button">Click here!</a>

</body>

</html>