<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/learn">About</a>
        <a href="/strength_checker">Check Password Strength</a>
        <a href="/entropy">Entropy Check</a>
        <a href="/pass_generator">Generate a Password</a>
    </div>

    <h2>Password Generator Page</h2>

    <title>Password Generator</title>

    <p>Select a password length to generate!</p>

    <form method="POST" action="pass_generator">
        <select name="length">
            <option value="1">14-20 characters</option>
            <option value="2">20-28 characters</option>
            <option value="3">28-32 characters (Recommended)</option>
        </select>
        <button type="submit" class="btn btn-primary">Generate A Password!</button>
    </form>

    <!-- <p> {% block content %} {{ content1 }} {% endblock %} </p> -->
    <h3>Suggested Password:</h3>
    {% for x in output1 %}

    <p>{{ x }}</p>

    {% endfor %}

    <br />

    <h3>Sequence of Words to Remember:</h3>
    {% for x in output2 %}

    <p>{{ x }}</p>

    {% endfor %}

    <br />

    <h3>Position of Capitalized Letter:</h3>
    {% for x in output3 %}

    <p>{{ x }}</p>

    {% endfor %}

    <br />

    <h3>Position of Symbol:</h3>
    {% for x in output4 %}

    <p>{{ x }}</p>

    {% endfor %}

</body>

</html>