<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/learn">What Makes A Password Strong?</a>
        <a href="/strength_checker">Check Password Strength</a>
        <a href="/pass_generator">Generate a Password</a>
    </div>

    <h2>Strength Checker Page</h2>

    <title>Password Strength Checker</title>

    <label for="inputtext">Enter your password:</label>

    <form method="POST" action="strength_checker">
        <input type="text" name="password" placeholder="Enter password" class="password"></input>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <br>

    <h3>Password vulnerabilities:</h3>
    <ul>
        {% for x in output %}

        <li>{{ x }}</li>

        {% endfor %}
    </ul>

</body>

</html>